{% extends "base.html" %}

{% block extrahead %}
<style>
    .md-grid {
        max-width: none !important;
        margin: 0 !important;
    }

    .md-content__inner {
        margin: 0 !important;
        padding: 0 !important;
    }

    .md-content__inner:before{
        display: none !important;
    }
</style>
{% endblock %}

{% block content %}
<img src="https://edrawcloudpubliccn.oss-cn-shenzhen.aliyuncs.com/viewer/self/1059758/share/2024-4-3/1712127260/main.svg"
  width="100%">
{% endblock %}

<!--隐藏网站导航-->
{% block site_nav %}
{% endblock %}

<!--隐藏底部-->
{% block footer %}
{% endblock %}
