<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crud">
    <!--🍪sql语句结尾可以加分号也可以不加分号-->
    <!--#{}中的参数是实体类中get方法名称除去get后首字母小写的字符串-->
    <insert id="insertCar">
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type)
        values(null,#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>

    <!--当只有一个参数时，#{}中的参数名可以任意取名，但是建议取名为param1,param2...-->
    <delete id="deleteCar">
        delete from t_car where car_num=#{carNum}
    </delete>

    <update id="updateCar">
        update t_car set brand=#{brand},guide_price=#{guidePrice},produce_time=#{produceTime},car_type=#{carType}
        where car_num=#{carNum}
    </update>

    <select id="selectCarByCarNum" resultType="com.luguosong.pojo.Car">
        select id,car_num,brand,guide_price,produce_time,car_type from t_car where car_num=#{carNum}
    </select>

    <select id="selectAllCar" resultType="com.luguosong.pojo.Car">
        select id,car_num,brand,guide_price,produce_time,car_type from t_car
    </select>
</mapper>
