h1,h2,h3,h4,h5,h6 {
    color: #5e8bde;
    font-weight: 1000 !important;
}

.md-content iframe{
    width: 100%;
}

.md-typeset code {
    color: #73a0c5;
}

.md-typeset figcaption{
    font-size: 0.6rem;
    font-weight: 900;
    color: rgba(226, 228, 233, 0.6);
}
