h1, h2, h3, h4, h5, h6 {
    color: #5e8bde;
    font-weight: 1000 !important;
}

.md-content iframe {
    width: 100%;
}

.md-typeset code {
    color: #73a0c5;
    font-size: 0.64rem;
}

.highlighttable .linenos{
    font-size: 0.64rem;
}

.md-typeset figcaption {
    font-size: 0.6rem;
    font-weight: 900;
}

.highlight span.filename {
    font-size: 0.65em;
}

.highlight .kc, .highlight .n {
    color: #e0b25e;
}

.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt {
    color: #a88ffc;
}

.highlight .na, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #61afef;
}

/*文章图片最大高度限制*/
.md-typeset img {
    max-height: 50vh;
}
