<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--属性-->
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/learn_mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="12345678"/>
    </properties>


    <!--设置：改变 MyBatis 的运行时行为-->
    <settings>
        <!--配置日志-->
        <!--STDOUT_LOGGING：mybatis自带的日志输出-->
        <!--SLF4J：使用slf4j日志输出，可以省略,mybatis会自动寻找日志框架-->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!--环境配置-->
    <environments default="development">
        <environment id="development">
            <!--⭐事务管理方式设置-->
            <!--type="JDBC" JDBC事务管理，mybatis框架自己管理事务,底层使用JDBC-->
            <!--type="MANAGED" 由容器管理事务，例如Spring容器-->
            <transactionManager type="JDBC"/>

            <!--配置连接参数-->
            <!--
            type用于指定连接池的类型：
            UNPOOLED：不使用连接池
            POOLED：使用mybatis自带的连接池
            JNDI：集成第三方连接池，例如c3p0、druid等
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>

                <!--dataSource不同的type拥有不同的属性配置，具体看官方文档-->
                <property name="poolMaximumActiveConnections" value="20"/>
            </dataSource>
        </environment>
    </environments>


    <!--配置XxxMapper.xml-->
    <mappers>
        <mapper resource="mapper/HelloMapper.xml"/>
        <mapper resource="mapper/CRUDMapper.xml"/>
    </mappers>
</configuration>
